In [3]:
from src.utils import Utils
import pandas as pd

In [4]:
analytics_utils = Utils()
df = analytics_utils.df

In [9]:
"""
    df - pandas dataframe which contains all your logged keystrokes
"""

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28532 entries, 0 to 28531
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  28532 non-null  datetime64[ns]
 1   key        28532 non-null  object
 2   date       28532 non-null  object
 3   hour       28532 non-null  int32
 4   minute     28532 non-null  int32
dtypes: datetime64[ns](1), int32(2), object(2)
memory usage: 891.8+ KB

In [10]:
df.head()

                   timestamp key        date  hour  minute
0 2025-04-13 22:32:51.444961   h  2025-04-13    22      32
1 2025-04-13 22:32:52.114516   h  2025-04-13    22      32
2 2025-04-13 22:32:52.398999   h  2025-04-13    22      32
3 2025-04-13 22:32:52.729150   s  2025-04-13    22      32
4 2025-04-13 22:32:52.892078   t  2025-04-13    22      32